.row-remove{
    cursor: pointer;
    padding-left: 1.5rem;
}

.row-edit{
    cursor: pointer;
}

table{
    width: 80%;
}

thead{
    color: #fff;
}

th{
    padding: 15px;
    text-align: left;
}

td{
    padding: 15px;
    font-size: 14px;
}

.action-button{
    border: none;
    background-color: inherit;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.action-button:hover{
    font-size: 20px;
    font-weight: bold;
}