.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 45px;
  }
  .divs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    border-radius: 50%;
    width: 150px;
  }
  
  .account-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f7fd;
    border-radius: 20px;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f7fd;
    border-radius: 20px;
    padding: 10px;
  }
  
  .username {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #d1d1d1 solid;
    padding: 10px;
  }
  
  .email {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #d1d1d1 solid;
    padding: 10px;
    gap: 10px;
  }
  
  .left-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .right-div {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .coins {
    display: flex;
    background-color: #f0f7fd;
    padding: 15px 30px;
    border-radius: 10px;
    gap: 10px;
    align-self: end;
  }
  
  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f0f7fd;
    border-radius: 20px;
    padding: 10px;
  }
  
  .child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px #d1d1d1 solid;
    padding: 10px;
  }
  
  @media (max-width: 728px) {
    .divs-container {
      flex-direction: column;
      gap: 40px;
    }
    .right-div {
      width: 100%;
    }
  }