.bg-primary {
  background-color: #007dd60c;
}

.text-primary {
  color: #007cd6;
}

.text-secondary{
  color: #007dd6;
}

.bg-secondary {
  background-color: #007dd6;
}

.header-bg {
  background-color: #007dd661;
}

.text-white {
  color: white;
}

.text-danger {
  color: #ab0000;
}
.bg-danger {
  background-color: #ab0000;
}
.border-color {
  border-color: #626262;
}
.rate-color {
  color: rgb(215, 190, 0);
}

.text-gray {
  color: gray;
}
