* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

section {
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  padding: 15px 45px;
  z-index: 10;
  height: 10vh;
  backdrop-filter: blur(5px);
}
header img {
  width: 40px;
}

.profile-icon {
  display: none;
}

nav {
  display: flex;
}

nav a:hover {
  opacity: 0.9;
}

.mobile-menu {
  display: none;
  font-size: 30px;
}

footer {
  padding: 30px 35px;
  background-color: white;
  bottom: 0;
}
footer > div {
  gap: 15px;
}
footer a {
  color: black;
}

footer a:hover {
  opacity: 0.85;
}
footer > div a {
  font-size: 15px;
  color: rgb(41, 41, 41);
}

.mobile-nav {
  position: absolute;
  top: 10vh;
  left: 0;
  padding: 20px;
}

.mobile-display {
  display: none;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 22px;
  }
  header img {
    width: 30px;
  }
  nav a {
    font-size: 13px;
  }

  footer h1 {
    font-size: 22px;
  }
  footer > div a {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  header {
    padding: 15px 20px;
  }

  nav {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  footer {
    padding: 30px 10px;
  }
}
